.messagesList {
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Habilitar scroll */
    padding: 10px;
    flex-grow: 1;
    max-height: 100vh;
  
    /* Scrollbar personalizado */
    scrollbar-width: thin; /* Firefox: barra delgada */
    scrollbar-color: rgba(255, 255, 255, 0.16) transparent; /* Firefox */
  }
  
  .messagesList::-webkit-scrollbar {
    width: 6px; /* Ancho de la barra */
    height: 6px; /* Altura de la barra horizontal (si es necesario) */
    background: transparent; /* Fondo de la barra */
  }
  
  .messagesList::-webkit-scrollbar-track {
    background: transparent; /* Fondo del track */
  }
  
  .messagesList::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.16); /* Color del thumb (barra de desplazamiento) */
    border-radius: 0px; /* Esquinas cuadradas */
  }
  
  .messagesList::-webkit-scrollbar-corner {
    background: transparent; /* Fondo de la esquina (si hay scroll horizontal y vertical) */
  }
  