
  .homeScreenContainer {
  position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: flex
;
    height: 100%;
    padding-top: 28px;
    padding-bottom: 28px;
    cursor: default;
     
  }

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;


}

.homeScreenContent {position: relative;
    box-sizing: border-box;
    display: flex;

    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 28px;
    padding-bottom: 28px;
    cursor: default;
    background-image: url('./images/home-bg.png');
}