/* Contenedor principal */
.whatsappScreenContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #111b21;
  overflow: hidden;
}

/* Contenedor de la barra lateral mini */
.sideBarMiniContainer {
  z-index: 10;
}

/* Contenedor de la barra lateral */
.sideBarContainer {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100vh;
  margin-left: 64px;
  margin-right: 0;
  margin-top: 0;
  max-width: 40%;
  overflow: hidden;
  padding: 0;
  background-color: #111b21;
}

/* Contenedor principal de chat */
.mainChatContainer {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Placeholder cuando no hay contacto seleccionado */
.placeholder img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./img/fondo-chat.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1001;
}

/* Contenedor del chat, dentro del mainChatContainer */
.chatContainer {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  margin: 0;
}

/* Media Queries para Responsividad */

/* Para pantallas pequeñas (320px a 480px) */
@media (max-width: 480px) {
  .sideBarContainer {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .mainChatContainer {
    height: calc(100vh - 0px); 
  }

  .placeholder img {
    width: 100%;
    height: 100vh; 
  }

  .chatContainer {
    height: calc(100vh - 0px);
  }

  .sideBarMiniContainer {
    display: none;
  }
}

/* Para pantallas medianas (481px a 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .sideBarContainer {
    flex-basis: 40%;
    max-width: 50%;
  }

  .mainChatContainer {
    width: 100%;
    height: calc(100vh - 0px);
  }

  .placeholder img {
    width: 100%;
    height: 100vh;
  }

  .chatContainer {
    height: calc(100vh - 0px);
  }

  
  .sideBarMiniContainer {
    display: none;
  }
}

/* Para pantallas grandes (769px a 1200px) */
@media (min-width: 769px) and (max-width: 1200px) {
  .sideBarContainer {
    flex-basis: 30%;
    max-width: 35%;
  }

  .mainChatContainer {
    width: 100vw;
    height: calc(100vh - 0px);
  }

  .placeholder img {
    width: 100%;
    height: 100vh;
  }

  .chatContainer {
    height: calc(100vh - 0px);
  }
}

/* Para pantallas muy grandes (1201px a 2000px) */
@media (min-width: 1201px) and (max-width: 2000px) {
  .sideBarContainer {
    flex-basis: 30%;
    max-width: 30%;
  }

  .mainChatContainer {
    width: 100vw;
    height: 100vh;
  }

  .placeholder img {
    width: 100%;
    height: 100vh;
  }

  .chatContainer {
    height: 100vh;
  }
}

/* Para pantallas muy grandes (mayores de 2000px) */
@media (min-width: 2001px) {
  .sideBarContainer {
    flex-basis: 30%;
    max-width: 25%;
  }

  .mainChatContainer {
    width: 100vw;
    height: 100vh;
  }

  .placeholder img {
    width: 100%;
    height: 100vh;
  }

  .chatContainer {
    height: 100vh;
  }
}
