.sidebarMini {
  height: 100%;
  width: 64px;
  background-color: #202c33;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sidebarMiniAvatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
}

.chatIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #B8C7D0;
  cursor: pointer;

  padding: 8px;
}

.statusIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #E9EDEF;
  cursor: pointer;

}

.channelIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #E9EDEF;
  cursor: pointer;

}

.communityIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #E9EDEF;
  cursor: pointer;

}

.communityIcon svg {
  width: 24px; /* Ajusta el tamaño del icono */
  height: 24px;
}

.settingsButton {
  display: inline-flex; /* Asegura que el contenido interno se alinee correctamente */
  justify-content: center;
  align-items: center;
  background-color: #202c33; /* Fondo del botón */
  color: rgb(174, 186, 193); /* Color del ícono */
  border-radius: 50%; /* Hace que el botón sea circular */
  width: 40px; /* Ancho del botón */
  height: 40px; /* Alto del botón */
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.settingsButton:hover {
  background-color: #2a3942; /* Cambia el color de fondo al pasar el mouse */
  color: #d1d7db; /* Cambia el color del ícono al pasar el mouse */
}

.settingsButton svg {
  width: 24px; /* Ajusta el tamaño del ícono */
  height: 24px;
}


.upperButtons,
.lowerButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Espaciado entre botones */
  line-height: 16px;
}

