/* Contenedor principal de la barra lateral */
.sidebarContainer {
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  background-color: #111B21;
  border-right: 1px solid #2a2f32;
}

/* Botón de "Chats archivados" */
.archivados {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #111B21;
  border-bottom: 1px solid #2a2f32;
}

.archivados:hover {
  background-color: #202C33;
}

.archivadosIcon {
  margin-right: 10px;
  color: rgb(0,168,132);
}

.archivadosText {
  flex-grow: 1;
  font-size: 17px;
  font-weight: normal;
  line-height: 21px;
  color: #e9edef;
  text-align: left;
  word-wrap: break-word;
}

/* Contenedor principal de la barra lateral */
.contacts-list {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
  flex-grow: 1;
  background-color: #111B21;
  display: flex;
  flex-direction: column;
}

/* Contacto individual */
.contact-item {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  cursor: pointer;
  border-bottom: 1px solid #2a2f32;
  height: 90px;
  padding-right: 15px;
}

.contact-item:hover {
  background-color: #202C33;
}

/* Contenedor de avatar */
.contact-avatar-container {
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 13px;
  margin: -1px;
  border: none;
}

/* Avatar */
.contact-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  border: none;
}

/* Contenedor de información del contacto */
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  flex-grow: 1;
  position: relative; 
}

/* Nombre del contacto */
.contact-name {
  font-weight: bold;
  font-size: 1.1em;
  color: #E9EDEF;
  margin-bottom: 3px; 
  text-align: left; 
}

/* Último mensaje del contacto */
.contact-lastMessage {
  font-size: 0.9em;
  color: #8696A0;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px; 
  margin-bottom: 5px;
}

/* Hora del último mensaje */
.contact-time {
  font-size: 0.75em;
  color: #8696A0;
  position: absolute;
  top: 5px; 
  right: 15px; 
  text-align: right; 
}

.contact-lastMessageWrapper {
  display: flex;
  align-items: center;
  gap: 5px; 
  flex-grow: 1;
} 

.contact-statusIcon {
  display: flex;
  align-items: center;
  order: -1; 
}

.contact-statusIcon svg {
  height: 14px;
  width: 18px;  
}

.statusIconRead {
  color: #34b7f1; 
}

.statusIconNotRead {
  color: #8696a0; 
}

.statusIconSend {
  color: #8696a0; 
}

/* Sección de botones de chats */
.chatsButtons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #111B21; 
  border-top: 1px solid #2a2f32; 
  flex-shrink: 0; 
  margin-top: auto; 
}

/* Botones individuales */
.allChats, 
.notReadsChats, 
.favChats, 
.groupChats {
  flex: 1 1 calc(25% - 8px);
  max-width: 150px;
  min-width: 80px;
  background-color: rgb(32, 44, 51);
  border: none;
  border-radius: 42px;
  color: rgb(134, 150, 160);
  cursor: pointer;
  font-family: "SF Pro Text", "SF Pro Icons", system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Ubuntu, Cantarell, "Fira Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  height: 32px;
  padding: 6px 12px;
  text-align: center;
  transition: all 0.3s ease;
}

.allChats {
  background-color: #0a332c;
  color: #00a884;
}

/* Para pantallas medianas (481px a 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .sideBarContainer {
    flex-basis: 40%;
    max-width: 50%;
  }

}
 
/* Estilos responsivos */
@media (max-width: 768px) {
  .chatsButtons {
    justify-content: flex-start;
    gap: 8px;
  }

  .allChats, 
  .notReadsChats, 
  .favChats, 
  .groupChats {
    flex: 1 1 calc(50% - 8px);
  }
}

@media (max-width: 480px) {
  .allChats, 
  .notReadsChats, 
  .favChats, 
  .groupChats {
    flex: 1 1 100%;
  }
}

/* Header de la sidebar */
.contactSidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 10px;
  background-color: #111B21; 
  color: #E9EDEF; 
  height: 64px; 
  width: 100%;
}

.contactSidebarHeader h2 {
  font-size: 1.375rem;
  font-weight: bold;
  margin: 0;
  color: #E9EDEF;
  white-space: nowrap;
  overflow: hidden;
  line-height: 32px;
}

/* Contenedor de los íconos del header */
.contactSidebarHeaderIcons {
  display: flex;
  gap: 12px; 
  align-items: center;
}

.contactSidebarHeaderIcons .icon {
  font-size: 1.5em;
  cursor: pointer;
  color: #B8C7D0;
  transition: color 0.3s ease; 
}

.contactSidebarHeaderIcons .icon:hover {
  cursor: pointer;
}

/* Estilo para el contenedor de búsqueda */
.search-container {
  display: flex;
  align-items: center;
  background-color: #202c33;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 10px;
  width: 95%;
  height: 40px;
}

.search-container input {
  background: none;
  border: none;
  outline: none;
  color: #b8c7d0;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.search-container input::placeholder {
  color: #54656f; 
  font-size: 14px;
}

.search-icon {
  width: 20px;
  height: 20px;
  color: rgb(209, 215, 219);
  margin-right: 10px;
}

/* Estilo del cartel de WhatsApp */
.whatsappPrompt {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 12px 16px;
  cursor: pointer;
  background-color: #111B21;
  border-bottom: 1px solid #2a2f32;
  z-index: 900;
  height: 63px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden; 
}

/* Estilo del texto */
.whatsappText {
  color: rgb(0,168,132);
  font-size: 1.0625rem;
  margin-left: 8px; 
  flex-grow: 1; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  text-decoration: none;
}

/* Estilo del icono de WhatsApp */
.whatsappIcon {
  color: white;
  background-color: rgb(37,211,102);
  height: 40px; 
  width: 40px;
  font-size: 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-shrink: 0; 
  margin-left: 8px; 
}
